<body class="d-flex flex-column vh-100 justify-content-between"> 
    <header>
        <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a href="#" class="navbar-brand text-white">
          <img src="/img/logoDG.png" alt="DG" width="80px">
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          
          
          <ul class="navbar-nav flex-row justify-content-center justify-content-lg-end w-100 fixed-top">
            <li class="nav-item">
              <a class="nav-link d-lg-none text-white" href="http://localhost:3000/">Home</a>
              <a class="nav-link d-none d-lg-block" href="http://localhost:3000/"><i class="bi bi-house-door-fill text-white"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-none text-white ms-2" href="http://localhost:3000/sobre">Sobre</a>
              <a class="nav-link d-none d-lg-block" href="http://localhost:3000/sobre"><i class="bi bi-info-circle text-white"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-lg-none text-white ms-2" href="http://localhost:3000/user">Perfil</a>
              <a class="nav-link d-none d-lg-block" href="http://localhost:3000/user"><i class="bi bi-person text-white"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </header>
    <main>
        <section class="container">
            <div>
                <h1 class="text-center mb-3">Sobre a DaviGames</h1>
                <p>A <strong>DaviGames</strong> nasceu com o propósito de revolucionar o mercado de jogos digitais. Vivemos em tempos onde os preços de novos lançamentos têm sido inacessíveis para muitos. Nossa missão é mudar esse cenário, trazendo títulos incríveis com valores que cabem no bolso.</p>
                <p>Com um catálogo diversificado e focado na qualidade, oferecemos jogos das mais variadas categorias: <strong>Futebol</strong>, <strong>RPG</strong>, <strong>Modo História</strong>, <strong>Anime</strong>, <strong>FPS</strong> e <strong>Luta</strong>. Garantimos uma experiência de compra simples, rápida e segura para todos os amantes de games.</p>
                <p>Acreditamos que os jogos têm o poder de conectar pessoas, proporcionar diversão e criar memórias inesquecíveis. Por isso, na <strong>DaviGames</strong>, nosso objetivo é democratizar o acesso aos melhores jogos do mercado.</p>
                <p><em>Explore, jogue e se divirta com a DaviGames – sua nova loja de jogos preferida.</em></p>
            </div>
        </section>
    </main>
    <footer class="text-center p-10 pe-10 mt-100 justify-self-end ">
        <p>&copy; 2024 DaviGames. Todos os direitos reservados.</p>
    </footer>
</body>